@media only screen and (max-width: 600px) {
  .graphic {
    width: 500px;
  }
}

@media only screen and (min-width: 600px) {
  .graphic {
    width: 610px;
  }
}

@media only screen and (min-width: 900px) {
  .graphic {
    width: 780px;
  }
}
